<%= render "/layouts/nav" %>
<br></br>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav" id="colored">
    <p><a href="/users/<%=current_user.id%>/patients/new" class="btn btn-primary btn-lg">Add Patient</a></p>
    <br></br>
    <p><a href="/users/edit" class="btn btn-primary btn-lg">Edit Profile</a></p>
    <br>
    <p>
      <%= form_tag patients_path, multipart: true do%>
      <%= file_field_tag :leads %>
      <br>
      <%= submit_tag "Upload CSV", class: "btn btn-primary btn-lg" %>
    <%end%>
    </p>
    <p>
      Search Patient:
      <%= form_tag(user_patients_path(@user), :method => "get", id: "search-form") do %>
        <select class="sel" id="criteria">
          <option value="all">All</option>
          <option value="name">Name</option>
          <option value="height">Height</option>
          <option value="weight">Weight</option>
          <option value="phone_number">Phone Number</option>
          <option value="address">Address</option>
          <option value="age">Age</option>
          <option value="sex">Sex</option>
          <option value="email">Email</option>
          <option value="dob">Date of Birth</option>
          <option value="medical_history">Medical History</option>
        </select>
        <%= text_field_tag :search, params[:search], placeholder: "Search Patient", id: "search_patient"%>
        <button type="button" name="button" class="btn btn-default" onclick="patient()">Search</button>
      <% end %>
    </p>
    </div>
    <div class="col-sm-8 text-left">
      <h3>List of Your Patients</h3>
      <br></br>
      <div id="patient_list">
          <ul><% @user.patients.each do |patient|%>
          <h5><a href="/users/<%=patient.user.id%>/patients/<%=patient.id%>" class="buttons"><%=patient.name%></a></h5>
          <br>
          <%end%></ul>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <!-- <div class="well">
        <!<button class="action-button shadow animate grey" type="button" name="button" onclick="download_patients()">Download CSV</button> -->
      <!-- </div>
      <div class="well">
        <p>ADS</p>
      </div> -->
    </div>
  </div>
</div>



<footer class="text-center">
  <p>Contact Us</p>
</footer>
