<h2> Welcome <%= @user.email%>. The Following Is List of Your Patients </h2>
<input type="hidden" id="user_id" value ="<%=@user.id%>">

<%= form_tag(user_patients_path(@user), :method => "get", id: "search-form") do %>
<select id="criteria">
  <option value="all">All</option>
  <option value="name">Name</option>
  <option value="height">Height</option>
  <option value="weight">Weight</option>
  <option value="phone_number">Phone Number</option>
  <option value="address">Address</option>
  <option value="age">Age</option>
  <option value="sex">Sex</option>
  <option value="email">Email</option>
  <option value="dob">Date of Birth</option>
  <option value="medical_history">Medical History</option>
</select>
  <%= text_field_tag :search, params[:search], placeholder: "Search Patient", id: "search_patient"%>
<button type="button" name="button" onclick="patient()">Search</button> <br>

<% end %>

<br><br>


<div id="patient_list">
<%= link_to "Add Patient", action: "new", :method => "get" %>

<ul>
  <% @user.patients.each do |patient|%>
  <li><%= patient.name %></li>
  <%end%>
</ul>
</div>
<br>
<button type="button" name="button" onclick="download_patients()">Download</button>
