

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<div class="wrapper">


<nav>
  <div class="row">

  <%= text_field_tag :search, params[:search], placeholder: "Search Patient", id: "search_patient"%>
    <button type="button" name="button" onclick="patient()">Search</button>

  <!-- <%= form_tag(user_patients_path(@user), :method => "get", id: "search-form") do %>
         <select class="sel" id="criteria">
             <option value="all">All</option>
             <option value="name">Name</option>
             <option value="height">Height</option>
             <option value="weight">Weight</option>
             <option value="phone_number">Phone Number</option>
             <option value="address">Address</option>
             <option value="age">Age</option>
             <option value="sex">Sex</option>
             <option value="email">Email</option>
             <option value="dob">Date of Birth</option>
             <option value="medical_history">Medical History</option>
           </select>
     <%end%> -->



   <!-- <h2> Welcome <%= @user.name%>. The Following Is List of Your Patients </h2>
   <%= form_tag patients_path, multipart: true do %>
   <%= file_field_tag :leads %>
   <%= submit_tag "Upload CSV File" %>
   <%end%> -->


  </div>
</nav>





<br></br>


<div id="holder">sgsgsgsg</div>


<div id="patient_list">
<%= link_to "Add Patient", action: "new", :method => "get" %>

<ul>
  <% @user.patients.each do |patient|%>
  <li><a href="/users/<%=patient.user.id%>/patients/<%=patient.id%>" class="buttons"><%=patient.name%></a></li>
  <%end%>
</ul>
</div>
<button class="dlBtn" type="button" name="button" onclick="download_patients()">Download</button>
<div>
