<%= link_to "Edit Medical History", edit_user_patient_path(@patient.user, @patient) %>
<br></br>
<a data-confirm="Are you sure?" data-method="delete" href="/users/<%=current_user.id%>/patients/<%=@patient.id%>">Delete</a>
<%= link_to "Add Prescription", new_patient_prescription_path(@patient) %>
<br></br>


<p class="medical-history">Medical History</p>

<div class="patient-show">
Name: <%= @patient.name%>
<br>
Age: <%= @patient.age %>
<br>
Sex: <%= @patient.sex %>
<br>
Email: <%= @patient.email %>
<br>
Phone Number: <%= @patient.phone_number %>
<br>
Address: <%= @patient.address %>
<br>
Medications Taken: <%= @patient.medical_history%>
<br>
Height: <%= @patient.height %>
<br>
Weight: <%= @patient.weight %>
<br>
Health Conditions:  <%= @patient.health_history %>
<br>
Concerns: <%= @patient.note %>

<br></br>

Current Medications
<br></br>
<%= @patient.medical_history %>

<div id="prescription_info">
  <p>Last Prescription(s)</p>
  <% if @patient.prescriptions %>
  <% @patient.prescriptions.each do |prescription| %>
    <%= link_to "#{prescription.experition_date}", prescription_path(prescription)%>
  <% end %>
  <% end %>

</div>
